doctype html
html(lang="en")
  head
    title= pageTitle
    script(src='/js/jquery.js')
    script(src='/js/main.js')
  body
    h1 HTTP TOOL
    span #{title}
    button ADD
    div#params 
        span name
        input#postParamName
        span value
        input#postParamValue 
    div#submit  
    button#start START
        