extends layout
block content
    script(src='/js/proxy.js')
    div
        ul
            li
                span.from-to FROM
                input.url-from 
                span.from-to TO
                input.url-to 
            li
                span.from-to FROM
                input.url-from 
                span.from-to TO
                input.url-to 
    div#submit  
        button#start.btn.btn-default REFRESH